<button (click)="returnToListProduct()" type="button">Retour</button>

<div class="cart">
  <div class="order-list">

    @for (order of orderList(); track order._id) {
        <div class="order-item">
            <div class="order-info">
                <p><strong>DATE : </strong>  <span class="date">{{ order.date }}</span></p>
                <p><strong>Nb Article : </strong>  <span class="nbArticles">{{ order.nbArticles }}</span></p>
                <p><strong>Total : </strong>  <span class="total">{{ order.total }}</span></p>
                <p><strong>Status : </strong>  <span class="status">{{ order.status }}</span></p>
            </div>
        </div>
    }
  </div>
</div>
