<app-back [link]="'shops/'+currentShopId" />
<h2 class="flex items-center justify-center mb-5 text-[var(--color-text-primary)] text-3xl font-extrabold underline">Liste Commande</h2>
<h3 class="flex items-center justify-center md:text-2xl font-bold text-[var(--color-text-secondary)]">Filtrer par status :</h3>
<div class="md:flex items-center justify-center mb-5">
  @for (status of statuses; track status) {
    <label class="text-sm font-bold text-gray-700 p-2">
      <input type="checkbox" (change)="onStatusChange($event, status)"/>
      {{ status }}
    </label>
  }
</div>

<div class="flex flex-col items-center">
  @for (order of filteredOrders(); track order._id) {
    <div class="w-5/6 bg-[var(--color-card)] border-b-2 border-gray-400 mb-2 text-[var(--color-text-primary)] rounded-md p-4">
      <div>
        <p class="flex justify-center text-[var(--color-text-secondary)] underline">{{ order.date | date: "dd MMMM yyyy" }}</p>
        <p class="text-lg text-[var(--color-text-secondary)]">Total : <span class="text-2xl font-bold text-[var(--color-success)]">{{ order.total }} Ar</span></p>
        <p class="text-sm text-[var(--color-text-secondary)]">Nombre d'articles : <span class="text-2xl font-bold text-[var(--color-text-primary)]">{{ order.nbArticles }}</span></p>    
        <p class="text-lg text-[var(--color-text-secondary)]">Status : <span >{{ order.status }}</span></p>

        <div class="flex justify-center md:justify-start pt-2">
          <button class="px-2 py-0.5 bg-[var(--color-accent)] rounded-md ml-2" (click)="onSeeDetail(order._id)">Detail</button>

          @if (order.status === STATUS_ORDER.UNPAID) {
            <button class="px-2 py-0.5 bg-[var(--color-danger)] rounded-md ml-2" (click)="onCancel(order._id)">Annuler</button>
            <button class="px-2 py-0.5 bg-[var(--color-success)] rounded-md ml-2" (click)="payOrder(order._id)">Payer</button>
          }
        </div>
        
      </div>
    </div>
  }
</div>