<app-back [link]="'shops/'+currentShopId" />
<div class="cart">
  <div class="filters">
    <h3>Filtrer par status :</h3>

    @for (status of statuses; track status) {
      <label>
        <input 
          type="checkbox"
          (change)="onStatusChange($event, status)"
        />
        {{ status }}
      </label>
    }
  </div>
  <div class="order-list">

    @for (order of filteredOrders(); track order._id) {
        <div class="order-item">
            <div class="order-info">
                <p><strong>DATE : </strong>  <span class="date">{{ order.date }}</span></p>
                <p><strong>Nb Article : </strong>  <span class="nbArticles">{{ order.nbArticles }}</span></p>
                <p><strong>Total : </strong>  <span class="total">{{ order.total }}</span></p>
                <p><strong>Status : </strong>  <span class="status">{{ order.status }}</span></p>

                @if (order.status === STATUS_ORDER.UNPAID) {
                  <button (click)="onCancel(order._id)">Annuler</button>
                }
                <button (click)="onSeeDetail(order._id)">Detail</button>
                <button (click)="payOrder(order._id)">Faire un Paiement</button>
            </div>
        </div>
    }
  </div>
</div>
