<aside>
  <nav>
    <ul class="menu">

      <!-- DASHBOARD -->
      <li class="menu-item">
        <a routerLink="dashboard">
          <div class="menu-link">
            <img class="icon" src="/assets/icons/dashboard.png" alt="Icon Dashboard">
            <span>Dashboard</span>
          </div>
        </a>
      </li>

      @if (isAdmin()) {
        <!-- SHOPS -->
        <li class="menu-item has-children" [class.open]="shopsOpen">
          <div class="menu-link" (click)="toggleShops()">
            <img class="icon" src="/assets/icons/store.png" alt="Icon Shop">
            <span>Shops</span>
          </div>

          <ul class="submenu">
            <li class="submenu-item" routerLinkActive="active">
              <a routerLink="shops">
                <img class="icon" src="/assets/icons/list.png" alt="">
                <span>List</span>
              </a>
            </li>

            <li class="submenu-item" routerLinkActive="active">
              <a routerLink="shop-form">
                <img class="icon" src="/assets/icons/form.png" alt="">
                <span>New</span>
              </a>
            </li>
          </ul>
        </li>

        <!-- SHOPS CATEGORIES -->
        <li class="menu-item has-children" [class.open]="shopCategoriesOpen">
          <div class="menu-link" (click)="toggleShopCategories()">
            <img class="icon" src="/assets/icons/categorization.png" alt="Icon Shop Categories">
            <span>Shop Categories</span>
          </div>

          <ul class="submenu">
            <li class="submenu-item" routerLinkActive="active">
              <a routerLink="shop-categories">
                <img class="icon" src="/assets/icons/list.png" alt="">
                <span>List</span>
              </a>
            </li>

            <li class="submenu-item" routerLinkActive="active">
              <a routerLink="shop-category-form">
                <img class="icon" src="/assets/icons/form.png" alt="">
                <span>New</span>
              </a>
            </li>
          </ul>
        </li>
      }

        <!-- RENT -->
        <li class="menu-item has-children" [class.open]="rentOpen">
          <div class="menu-link" (click)="toggleRent()">
            <img class="icon" src="/assets/icons/rent.png" alt="Icon Shop Rent">
            <span>Loyer</span>
          </div>

          <ul class="submenu">
            @if(isAdmin()){
              <li class="submenu-item" routerLinkActive="active">
                <a routerLink="shop-rent-list">
                  <img class="icon" src="/assets/icons/list.png" alt="">
                  <span>Liste</span>
                </a>
              </li>

              <li class="submenu-item" routerLinkActive="active">
                <a routerLink="shop-rent-form">
                  <img class="icon" src="/assets/icons/form.png" alt="">
                  <span>Nouveau</span>
                </a>
              </li>
            }
            @if(isAdminShop()){
              <li class="submenu-item" routerLinkActive="active">
                <a routerLink="shop-rent-payments">
                  <img class="icon" src="/assets/icons/form.png" alt="">
                  <span>Mes loyers</span>
                </a>
              </li>
            }
          </ul>
        </li>

      <!-- PRODUCTS -->
      <li class="menu-item has-children" [class.open]="productOpen">
        <div class="menu-link" (click)="toggleProduct()">
          <img class="icon" src="/assets/icons/product.png" alt="Icon Product">
          <span>Produit</span>
        </div>

        <ul class="submenu">
          <li class="submenu-item" routerLinkActive="active">
            <a routerLink="products">
              <img class="icon" src="/assets/icons/list.png" alt="">
              <span>Liste</span>
            </a>
          </li>

          @if(isAdminShop()){
            <li class="submenu-item" routerLinkActive="active">
              <a routerLink="product-form">
                <img class="icon" src="/assets/icons/form.png" alt="">
                <span>Nouveau</span>
              </a>
            </li>
          }
        </ul>
      </li>

      @if(isAdminShop()){
        <!-- VENTE -->
        <li class="menu-item has-children" [class.open]="saleOpen">
          <div class="menu-link" (click)="toogleSale()">
            <img class="icon" src="/assets/icons/sale.png" alt="Icon Sale">
            <span>Vente</span>
          </div>

          <ul class="submenu">
            <li class="submenu-item" routerLinkActive="active">
              <a routerLink="orders">
                <img class="icon" src="/assets/icons/list.png" alt="">
                <span>Commande</span>
              </a>
            </li>
          </ul>
      }

      @if(isAdminShop()){
        <!-- STOCK -->
        <li class="menu-item has-children" [class.open]="stockOpen">
          <div class="menu-link" (click)="toggleStock()">
            <img class="icon" src="/assets/icons/stock.png" alt="Icon Stock">
            <span>Stock</span>
          </div>

          <ul class="submenu">
            <li class="submenu-item" routerLinkActive="active">
              <a routerLink="stock-moves">
                <img class="icon" src="/assets/icons/list.png" alt="">
                <span>Mouvement</span>
              </a>
            </li>

            <li class="submenu-item" routerLinkActive="active">
              <a routerLink="stock-move-form">
                <img class="icon" src="/assets/icons/form.png" alt="">
                <span>Reajustation</span>
              </a>
            </li>

            <li class="submenu-item" routerLinkActive="active">
              <a routerLink="stock-thresholds">
                <img class="icon" src="/assets/icons/setting.png" alt="">
                <span>Seuil de stock</span>
              </a>
            </li>
          </ul>
        </li>
      }

      <!-- LOGOUT -->
      <li class="menu-item logout" (click)="logout()">
        <div class="menu-link">
          <img class="icon" src="/assets/icons/logout.png" alt="Icon logout">
          <span>Logout</span>
        </div>
      </li>

    </ul>
  </nav>
</aside>
