<aside>
        <div id="layout-profil">
            <figure class="user-profil">
                <img src="./assets/images/user-profil.png" alt="Profil de l'utilisateur">
            </figure>
        </div>
        <nav>
            <ul class="menu">
                <li class="menu-item">
                    <div class="menu-icon">
                        <img src="./assets/icons/dashboard.png" alt="Icon dashboard">
                    </div>
                    <a href="#">Dashboard</a>
                </li>

                <li class="menu-item has-children">
                    <div class="menu-icon">
                        <img src="./assets/icons/product.png" alt="Icon product">
                    </div>
                    <a href="#">Product</a>
                    <!-- <ul class="submenu">
                        <li class="submenu-item">
                            <div class="menu-icon">
                                <img src="./assets/icons/list.png" alt="Icon list">
                            </div>
                            <a href="#">List</a>
                        </li>

                        <li class="submenu-item">
                            <div class="menu-icon">
                                <img src="./assets/icons/add.png" alt="Icon add">
                            </div>
                            <a href="#">New</a>
                        </li>
                    </ul> -->
                </li>
                

                <li class="menu-item">
                    <div class="menu-icon">
                        <img src="./assets/icons/user.png" alt="Icon user">
                    </div>
                    <a href="#">Profil</a>
                </li>

                <li class="menu-item">
                    <div class="menu-icon">
                        <img src="./assets/icons/logout.png" alt="Icon logout">
                    </div>
                    <a href="#">Logout</a>
                </li>
            </ul>
        </nav>
    </aside>
