<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="main-form">

    <!-- erreurs backend -->
    <div class="errors">
      @for (err of errors(); track err) {
        <p class="header-error">{{ err }}</p>
      }
    </div>

    <!-- NAME -->
    <div class="input-group">
      <label for="name">Nom de la boutique</label>
      <input
        id="name"
        type="text"
        placeholder="Nom du boutique"
        formControlName="name"
        [ngClass]="{'is-invalid': isInvalid(form.controls.name)}"
      />

      <p *ngIf="isInvalid(form.controls.name) && form.controls.name.hasError('required')" class="error">
        Le nom est obligatoire
      </p>
    </div>

    <!-- CATEGORY -->
    <div class="input-group">
      <label for="categoryId">Catégorie</label>
      <select
        id="categoryId"
        formControlName="categoryId"
        [ngClass]="{'is-invalid': isInvalid(form.controls.categoryId)}"
      >
        <option value="">-- Choisir une catégorie --</option>

        @for (cat of categories; track cat.id) {
          <option [value]="cat.id">
            {{ cat.name }}
          </option>
        }
      </select>

      <p *ngIf="isInvalid(form.controls.categoryId) && form.controls.categoryId.hasError('required')" class="error">
        Catégorie obligatoire
      </p>
    </div>

    <!-- SUBMIT -->
    <div class="input-group">
        <button [disabled]="form.invalid" type="submit">Valider</button>
    </div>

  </div>
</form>
