<div class="card">
  <div class="shop-list">

    @for (shop of shops(); track shop.id; let first = $first) {

      @if (shop.isActive) {
        <div
          class="shop-item"
          [class.border-top]="!first"
        >

          <!-- LEFT -->
          <div class="shop-info">
            <span class="category">{{ shop.category }}</span>
            <span class="name">{{ shop.name }}</span>
          </div>

          <!-- RIGHT -->
          <div class="actions">
            <span class="status active">ACTIVE</span>

            <button
              type="button"
              class="btn btn-success"
              (click)="visiter(shop.id)"
            >
              Visiter
            </button>
          </div>

        </div>
      }
    }
  </div>
</div>
