<app-back link="shops"></app-back>

@if (productList().length === 0) {
  <div class="mt-10 flex justify-center text-gray-600 text-2xl font-bold">
    Aucun produit disponible
  </div>
  }

@else if (productList().length > 0) {

<span class="mt-2 flex items-center justify-center text-3xl underline font-bold text-[var(--color-text-primary)]">Liste Produit</span>
<div class="mx-4 grid grid-cols-[repeat(auto-fit,minmax(300px,1fr))] gap-4">
  @for (product of productList(); track product._id; let first = $first) {
    @if (product.isActive) {
      <div class="max-w-96 m-4 p-4 border-2 border-black rounded bg-[var(--color-card)]">

        <img class="" [src]="environment+product.picture" [alt]="environment+product.picture">

        <div class="bg-slate-500 flex p-1 rounded-b">
          <label class="w-full text-xl font-bold">{{ product.name }}</label>
          <label class="flex justify-end text-sm">{{ product.category }}</label>
        </div>

        <div class="my-2 flex justify-center text-[var(--color-accent)] font-bold text-2xl">{{ product.price | number:'1.0-0' }} Ar</div>

        <div class="flex">
          <input
            class="p-1 rounded-md w-20 text-center text-2xl font-semibold"
            id="qty-{{ product._id }}"
            type="number"
            min="1"
            [value]="1"
            #qtyInput
          />
          <button class="ml-2 w-full h-10 bg-[var(--color-success)] rounded-md text-xl font-semibold hover:bg-[var(--color-accent)]" type="button" (click)="addToBasket(product._id, qtyInput.value)">
            Commander
          </button>
        </div>

      </div>
    }
  }
</div>
}
