<app-back link="shops"></app-back>

@if (productList().length === 0) {
  <h2 class="title">
    Aucun produit disponible
  </h2>
}

@else if (productList().length > 0) {

 <h2 class="title">Liste Produit</h2> 
  

<div class="p-4 md:p-6 grid grid-cols-[repeat(auto-fit,minmax(280px,1fr))] gap-8">
  @for (product of productList(); track product._id; let first = $first) {
    @if (product.isActive && product.stock > 0) {

      <div class="max-w-sm group relative overflow-hidden rounded-lg bg-[var(--color-card)] border border-[var(--color-border)] shadow-lg hover:shadow-2xl transition-all duration-300 hover:-translate-y-2">

        <!-- IMAGE FULL -->
        <div class="relative h-56 overflow-hidden">
          <img 
            class="w-full h-full object-cover group-hover:scale-110 transition-transform duration-500"
            [src]="product.picture" 
            [alt]="product.picture">

          <!-- OVERLAY DARK -->
          <div class="absolute inset-0 bg-gradient-to-t from-[var(--color-bg)] via-transparent to-transparent opacity-80"></div>

          <!-- CATEGORY BADGE -->
          <span class="absolute top-2 right-2 text-xs px-3 py-1 bg-[var(--color-accent)] text-white rounded-full shadow-md">
            {{ product.category }}
          </span>

          <!-- NAME -->
          <label class="absolute bottom-2 left-3 text-lg font-bold text-[var(--color-text-primary)] drop-shadow-lg">
            {{ product.name }}
          </label>
        </div>

        <!-- PRICE -->
        <div class="py-3 flex justify-center text-[var(--color-success)] font-bold text-2xl">
          {{ product.price | number:'1.0-0' }} Ar
        </div>

        <!-- ACTION -->
        <div class="px-3 pb-4 flex items-center gap-2">
          <input
            class="w-20 p-1 text-center text-lg font-semibold bg-[var(--color-bg)] text-[var(--color-text-primary)] border border-[var(--color-border)] rounded-md focus:outline-none focus:ring-2 focus:ring-[var(--color-accent)]"
            id="qty-{{ product._id }}"
            type="number"
            min="1"
            [value]="1"
            #qtyInput
          />

          <button 
            class="flex-1 py-2 text-lg font-semibold bg-[var(--color-success)] text-white rounded-md hover:bg-[var(--color-accent-hover)] transition-all duration-300"
            type="button" 
            (click)="addToBasket(product._id, qtyInput.value)">
            Commander
          </button>
        </div>

      </div>

    }
  }
</div>
}