<main>
    <section class="dashboard">
        <h1>Dashboard</h1>

        <!-- CARTES -->
        <div class="stats">
            <div class="card">
            <h3>Boutiques</h3>
            <p>{{ totalShops }}</p>
            </div>

            <div class="card">
            <h3>Catégories</h3>
            <p>{{ totalCategories }}</p>
            </div>
        </div>

        <!-- GRAPHIQUES -->
        <div class="charts">
            <div class="chart-card">
            <h3>Boutiques par catégorie</h3>
            <canvas id="shopsByCategory"></canvas>
            </div>

            <div class="chart-card">
            <h3>Revenus mensuels</h3>
            <canvas id="revenueChart"></canvas>
            </div>

            <div class="chart-card">
            <h3>Revenus mensuels</h3>
            <canvas id="ca"></canvas>
            </div>
        </div>
    </section>
</main>