<div class="container mt-4">

  <h2>Tableau de bord</h2>

  <!-- STATS -->
  <div class="row mt-4">
    <div class="col">
      <div class="card p-3">
        <h5>Nombre total de boutique</h5>
        <h3>{{dashboard()?.stats?.totalShops}}</h3>
      </div>
    </div>

    <div class="col">
      <div class="card p-3">
        <h5>Nombre de boutique active</h5>
        <h3>{{dashboard()?.stats?.activeShops}}</h3>
      </div>
    </div>

    <div class="col">
      <div class="card p-3">
        <h5>Nombre total des utilisateurs</h5>
        <h3>{{dashboard()?.stats?.totalUsers}}</h3>
      </div>
    </div>
  </div>

  <div class="mt-4">
    <label>Select Year :</label>
    <input type="number" [(ngModel)]="selectedYear" (change)="onYearChange()" />
  </div>

  <div class="mt-4">
    <canvas id="rentChart"></canvas>
  </div>

  <div class="mt-4">
    <h4>Details de paiement par boutique</h4>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Shop</th>
          <th>Total Paid</th>
          <th>Total Unpaid</th>
        </tr>
      </thead>
      <tbody>
        @for(shop of dashboard()?.shopSummary; track shop.shopId){
            <tr>
            <td>{{shop.shopName}}</td>
            <td>{{shop.totalPaid}}</td>
            <td>{{shop.totalUnpaid}}</td>
            </tr>
        }   
      </tbody>
    </table>
  </div>

</div>