<header class="z-20 bg-[var(--color-card)] fixed w-full text-[var(--color-text-primary)]">
    <div class="flex h-12 md:h-20 border-b-2 border-gray-50">
        <div class="ml-1 md:ml-2 flex justify-center">
            <img src="/assets/img/inter-logo.png" alt="Logo" class="-mt-5 h-20 md:h-28 w-auto">
        </div>

        <div class="hidden md:flex w-full">
            <nav class="hidden md:flex w-full items-center justify-center">
                @if (hasEnteredInShop()) {
                    <ul class="flex items-center justify-center gap-10">
                        <li>
                            <button class="text-xl font-bold" (click)="viewOrders()"> Commande(s) </button>
                        <li>
                    </ul>
                }
            </nav>

            <div class="flex items-center justify-center">
                @if (hasEnteredInShop()) {
                    <button (click)="viewCart()" class="bg-[var(--color-border)] flex justify-center items-center w-32 h-12 rounded-full">
                        <span class="bg-[var(--color-warning)] flex items-center justify-center rounded-full w-10 h-8  -ml-7 -mt-5">{{ nbArticle() }}</span>
                        <img src="/assets/icons/cart.png" alt="Icon Panier" class="h-8 w-auto mr-2 ml-1">
                        <span >Panier</span>
                    </button>
                }
            </div>

            <div class="flex flex-col items-start justify-center w-32 mx-10 gap-1">
                <button class="bg-[var(--color-border)] px-4 flex gap-1 rounded-full mb-1">
                    <img class="mt-1 h-5 w-auto invert" src="/assets/icons/profil.png" alt="Profil" >
                    <span class="mt-1 flex items-center">{{ currentUser?.name }}</span>
                </button>
                <button (click)="logout()" class="bg-red-200 px-4 flex gap-1 rounded-full">
                    <img class="mt-1 h-5 w-auto" src="/assets/icons/logout.png" alt="Deconnexion" >
                    <span class="mt-1 pr-4 flex items-center text-black">Deconnexion</span>
                </button>
            </div>
        </div>
            
        <button class="md:hidden w-full flex flex-col items-end gap-1 justify-center mr-3" (click)="toggleMenu()">
            <span class="w-6 h-1 bg-[var(--color-text-primary)]"></span>
            <span class="w-6 h-1 bg-[var(--color-text-primary)]"></span>
            <span class="w-6 h-1 bg-[var(--color-text-primary)]"></span>
        </button>
    </div>

    @if (isMenuOpen) {
        <div class="md:hidden bg-slate-700">
            <nav class="md:hidden w-full items-center justify-center">
                <ul class="flex flex-col">
                    @if (hasEnteredInShop()) {
                        <li class="bg-slate-600 h-12 border-b-2 border-gray-500">
                            <button (click)="viewOrders()" class="h-full w-full flex items-center ">
                                <img class="h-8 w-auto invert ml-10" src="/assets/icons/order.png" alt="Commande" >
                                <span class="ml-3">Commande(s)</span>
                                <span class="w-full flex justify-end mr-10 text-2xl">></span>
                            </button>
                        </li>
                        <li class="bg-slate-600 h-12 border-b-2 border-gray-500">
                            <button (click)="viewCart()" class="h-full w-full flex items-center ">
                                <img class="h-8 w-auto invert ml-10" src="/assets/icons/cart.png" alt="Panier" >
                                <span class="ml-3">Panier({{ nbArticle() }})</span>
                                <span class="w-full flex justify-end mr-10 text-2xl">></span>
                            </button>
                        </li>
                    }
                    <li class="bg-slate-600 h-12 flex items-center border-b-2 border-gray-500">
                        <img class="h-8 w-auto invert ml-10" src="/assets/icons/profil.png" alt="Profil" >
                        <span class="ml-3">Profil</span>
                        <span class="w-full flex justify-end mr-10 text-2xl">></span>
                    </li>
                    <li class="bg-slate-600 h-12 border-b-2 border-gray-500">
                        <button (click)="logout()" class="h-full w-full flex items-center ">
                            <img class="h-8 w-auto invert ml-10" src="/assets/icons/logout.png" alt="Deconnexion" >
                            <span class="ml-3">Deconnexion</span>
                            <span class="w-full flex justify-end mr-10 text-2xl">></span>
                        </button>
                    </li>
                </ul>
            </nav>
        </div>    
    }
    
</header>