<!-- dashboard-shop.component.html -->
<div *ngIf="dashboard" class="mt-4 lg:w-full lg:px-2">

  <h2 class="title">Tableau de bord Boutique</h2>

  <div class="mt-4 p-1 lg:flex lg:gap-1">

    <div class="col lg:grow lg:p-3 border-2 mt-2 bg-[var(--color-card)] border-solid">
      <div class="card p-3">
        <h5 class="lg:text-2xl text-base text-[var(--color-text-secondary)] text-center">Chiffre d'affaire</h5>
        <h3 class="text-center lg:text-3xl text-2xl font-bold text-[var(--color-text-primary)]">{{dashboard.chiffreAffaire | number:'1.0-0' }} Ar</h3>
      </div>
    </div>
    <div class="col lg:grow lg:p-3 border-2 mt-2 bg-[var(--color-card)] border-solid">
      <div class="card p-3">
        <h5 class="lg:text-2xl text-base text-[var(--color-text-secondary)] text-center">Loyer</h5>
        <h3 class="text-center lg:text-3xl text-2xl font-bold text-[var(--color-text-primary)]">{{dashboard.rent | number:'1.0-0' }} Ar</h3>
      </div>
    </div>

    <div class="col lg:grow lg:p-3 border-2 mt-2 bg-[var(--color-card)] border-solid">
      <div class="card p-3">
        <h5 class="lg:text-2xl text-base text-[var(--color-text-secondary)] text-center">Bénéfice</h5>
        <h3 class="text-center lg:text-3xl text-2xl font-bold text-[var(--color-text-primary)]">{{dashboard.profit | number:'1.0-0' }} Ar</h3>
      </div>
    </div>

  </div>

  <div class="flex flex-col">
    <div class="mt-4 bg-[var(--color-card)] p-4 lg:grow">
      <h4 class="text-center text-[var(--color-text-primary)] text-base mb-3">Graphique de vente</h4>
      <button class="btn-accent" (click)="loadDashboard()">Rafraichir</button>
      <canvas id="salesChart" class="w-full"></canvas>
    </div>
    <div class="my-4 bg-[var(--color-card)] p-4">
      <h4 class="text-center text-[var(--color-text-primary)] text-base mb-3">Meilleur vente de ce mois</h4>
      <div class="card p-3">
        <h5 class="text-center lg:text-3xl text-2xl font-bold text-[var(--color-text-primary)]">{{ dashboard.bestProduct?.name }}</h5>
        <div class="flex gap-3 justify-center items-center">
          <p class="lg:text-2xl text-base text-[var(--color-text-secondary)] text-center">Quantites vendus</p>
          <h3 class="text-center lg:text-3xl text-2xl font-bold text-[var(--color-text-primary)]">{{dashboard.bestProduct?.quantity}}</h3>
        </div>
      </div>
    </div>
  </div>

</div>