<h2 class="title">Liste Produit</h2>

<form class="flex flex-col items-center justify-center md:flex-row m-4 gap-2 p-4 rounded-xl bg-[var(--color-card)]" [formGroup]="form">
  <div>
    <input type="checkbox" id="active" formControlName="active">
    <label class="text-sm font-bold text-[var(--color-text-secondary)] p-2" for="active">ACTIVE</label>

    <input type="checkbox" id="inactive" formControlName="inactive">
    <label class="text-sm font-bold text-[var(--color-text-secondary)] p-2" for="inactive">INACTIVE</label>
  </div>

  <div>
    <label class="text-sm font-bold text-[var(--color-text-secondary)] p-2" for="category">Categorie</label>
    <select class="text-sm font-bold p-1 rounded-sm" id="category" formControlName="category">
      <option value="">Tous</option>
      @for(cat of categories(); track cat._id){
        <option [value]="cat.name">{{ cat.name }}</option>
      }
    </select>
  </div>
</form>

<div class="flex flex-col">
  @for(product of filteredProducts(); track product._id){
    <div class="flex flex-col lg:flex-row lg:items-center justify-between m-4 gap-4 p-4 rounded-xl bg-[var(--color-card)]">

      <div class="flex items-center lg:justify-start gap-4">
        <div class="w-16 h-16 bg-slate-800 rounded-lg flex items-center justify-center overflow-hidden">
          <img [src]="product.picture" alt="Produit" class="object-cover w-full h-full">
        </div>

        <div>
          <p class="font-medium text-[var(--color-text-primary)]">
            {{ product.name }}
          </p>

          <p class="text-xs text-[var(--color-text-secondary)]">
            Catégorie : {{ product.category }}
          </p>

          <p class="text-lg text-[var(--color-text-secondary)]">
            Prix : <span class="text-[var(--color-success)]">{{ product.price | number:'1.0-0' }} Ar</span>
          </p>
           
        </div>
      </div>

      <div class="flex justify-end">
        <p
          class="px-2 py-0.5 rounded-md text-sm font-medium text-white"
          [ngClass]="product.isActive ? 'bg-green-500' : 'bg-red-500'"  
        >
        
        {{ product.isActive ? 'Active' : 'Desactive' }}
        </p>
      </div>

      <div class="flex gap-4 lg:flex-col lg:justify-start">
        <div>
          <p class="font-medium text-[var(--color-text-primary)]">
            Stock : {{ product.stock }}
          </p>
        </div>

        <div>
          <p class="font-medium text-[var(--color-accent)]">
            Reserve : {{ product.reservedStock }}
          </p>
        </div>

        <div>
          <p class="font-medium text-[var(--color-success)]">
            Disponible : {{ product.stock - product.reservedStock }}
          </p>
        </div>
      </div>

      <div class="flex gap-4 justify-evenly">
        <button class="px-2 py-0.5 bg-[var(--color-accent)] rounded-md ml-2" (click)="onUpdate(product)">Modifier</button>
        <button type="button" class="btn btn-warning" (click)="openModal(product._id)">
          Importer
        </button>
        <!-- MODAL UPLOAD -->
          @if (activeUploadProductId === product._id) {
          <div class="fixed inset-0 bg-black/50 flex items-center justify-center p-4 z-50">

            <div class="bg-[var(--color-card)] w-full max-w-md rounded-xl p-6 border border-[var(--color-border)]">

              <div class="flex justify-between items-center mb-4">
                <h2 class="text-lg font-semibold text-[var(--color-text-primary)]">Importer un picture pour {{ product.name }}</h2>
                <button class="text-xl text-[var(--color-text-primary)]" (click)="closeModal()">&times;</button>
              </div>

              <form (submit)="upload(); $event.preventDefault()" class="space-y-4">

                <input
                  type="file"
                  accept="image/*"
                  (change)="onFileSelected($event)"
                  class="w-full text-sm"
                />

                <button
                  type="submit"
                  [disabled]="!selectedFile"
                  class="btn-accent w-full"
                >
                  Importer
                </button>

              </form>

            </div>
          </div>
        }

        @if(product.isActive){
          <button class="px-2 py-0.5 bg-[var(--color-danger)] rounded-md ml-2" (click)="onDeactivate(product)">Desactiver</button>
        }@else{
          <button class="px-2 py-0.5 bg-[var(--color-success)] rounded-md ml-2" (click)="onActivate(product)">Activer</button>
        }
      </div>
    </div>
  }
</div>
