<div class="category-list">
  @for (shopCategory of shopCategories; track shopCategory.id) {
    <div class="category-item">
      <span class="category-name">
        {{ shopCategory.name }}
      </span>

      <button
        type="button"
        class="btn-delete"
        (click)="deleteCategory(shopCategory.id)"
      >
        Supprimer
      </button>

      <button
        type="button"
        class="btn-primary"
        (click)="update(shopCategory.id)"
      >
        Modifier
      </button>
    </div>
  }
</div>
