<div class="layout bg-[var(--color-bg)] min-h-screen">

  <app-header (clickHamburger)="toogleSidebar($event)"></app-header>

  <div class="bg-[var(--color-bg)] flex flex-col flex-1]">
    <app-sidebar (closeSidebar)="toogleSidebar($event)" [open]="isSidebarOpen()"></app-sidebar>

    <main class="flex-1 bg-[var(--color-bg)] overflow-y-auto overflow-x-hidden container" [ngClass]="{ 'pointer-events-none opacity-5': isSidebarOpen() }">
      <router-outlet></router-outlet>
    </main>
  </div>

  <app-footer></app-footer>

</div>
