<div class="cart px-2">
  <h2 class="title">Liste des boutiques</h2>
  <div class="shop-list flex flex-col gap-y-5 lg:gap-y-2 lg:mb-4">

    @for (shop of shops(); track shop.id) {
      <div
        class="shop-item bg-[var(--color-card)] px-3 py-5 mt-5 rounded-lg border-[var(--color-border)] border-2"
      >

        <!-- LEFT -->
        <div class="shop-info">
          <div class="flex justify-between items-center">
            <span class="category text-[var(--color-text-secondary)]">
              {{ shop.category }}
            </span>
            <img class="w-10 rounded-lg lg:w-20" [src]="shop.logo" alt="Logo">
          </div>
          <div class="flex gap-3 items-center pb-2">
            <span class="name font-bold text-[var(--color-text-primary)]">
              {{ shop.name | uppercase}}
            </span>
            <!-- STATUS -->
            <span
              class="status border-2 rounded-lg px-3 py-1 opacity-80 font-bold"
              [class.active]="shop.isActive"
              [class.inactive]="!shop.isActive"
              [ngClass]="{ 'border-[var(--color-success)] text-[var(--color-success)]': shop.isActive, 'border-[var(--color-warning)] text-[var(--color-warning)]': !shop.isActive}"
            >
              {{ shop.isActive ? 'active' : 'inactive' }}
            </span>
          </div>
        </div>

        <!-- RIGHT -->
        <div class="actions flex justify-between lg:justify-end lg:gap-4">


          <!-- ACTIONS -->
          @if (!shop.isActive) {
            <button
              type="button"
              class="btn btn-success"
              (click)="activate(shop.id)"
            >
              Activer
            </button>
          }

          @if (shop.isActive) {
            <button
              type="button"
              class="btn btn-warning"
              (click)="deactivate(shop.id)"
            >
              Désactiver
            </button>
          }

          <button
            type="button"
            class="btn btn-default"
            (click)="update(shop.id)"
          >
            Modifier
          </button>

          <button
            type="button"
            class="btn btn-success"
            (click)="openModal(shop.id)"
          >
            Importer
          </button>

          <!-- MODAL UPLOAD -->
           @if (activeUploadShopId === shop.id) {
            <div class="fixed inset-0 bg-black/50 flex items-center justify-center p-4 z-50">

              <div class="bg-[var(--color-card)] w-full max-w-md rounded-xl p-6 border border-[var(--color-border)]">

                <div class="flex justify-between items-center mb-4">
                  <h2 class="text-lg font-semibold text-[var(--color-text-primary)]">Importer un logo pour {{ shop.name }}</h2>
                  <button class="text-xl text-[var(--color-text-primary)]" (click)="closeModal()">&times;</button>
                </div>

                <form (submit)="upload(); $event.preventDefault()" class="space-y-4">

                  <input
                    type="file"
                    accept="image/*"
                    (change)="onFileSelected($event)"
                    class="w-full text-sm"
                  />

                  <button
                    type="submit"
                    [disabled]="!selectedFile"
                    class="btn-accent w-full"
                  >
                    Importer
                  </button>

                </form>

              </div>
            </div>
          }

          <button
            type="button"
            class="btn btn-danger"
            (click)="remove(shop.id)"
          >
            Supprimer
          </button>

        </div>
      </div>
    }

  </div>
</div>
