<div class="cart">
  <div class="shop-list">

    @for (shop of shops(); track shop.id) {
      <div
        class="shop-item"
      >

        <!-- LEFT -->
        <div class="shop-info">
          <span class="category">
            {{ shop.category }}
          </span>

          <span class="name">
            {{ shop.name }}
          </span>
        </div>

        <!-- RIGHT -->
        <div class="actions">

          <!-- STATUS -->
          <span
            class="status"
            [class.active]="shop.isActive"
            [class.inactive]="!shop.isActive"
          >
            {{ shop.isActive ? 'ACTIVE' : 'INACTIVE' }}
          </span>

          <!-- ACTIONS -->
          @if (!shop.isActive) {
            <button
              type="button"
              class="btn btn-success"
              (click)="activate(shop.id)"
            >
              Activer
            </button>
          }

          @if (shop.isActive) {
            <button
              type="button"
              class="btn btn-warning"
              (click)="deactivate(shop.id)"
            >
              Désactiver
            </button>
          }

          <button
            type="button"
            class="btn btn-default"
            (click)="update(shop.id)"
          >
            Modifier
          </button>

          <button
            type="button"
            class="btn btn-success"
            (click)="openModal(shop.id)"
          >
            Upload
          </button>

          <!-- MODAL UPLOAD -->
          @if (activeUploadShopId === shop.id) {
            <div class="modal">
              <div class="modal-content">
                <span class="close" (click)="closeModal()">&times;</span>
                <h2>Upload Logo</h2>

                <form (submit)="upload(); $event.preventDefault()">
                  <label for="logoInput">Logo :</label>

                  <input
                    id="logoInput"
                    type="file"
                    accept="image/*"
                    (change)="onFileSelected($event)"
                  />

                  <button type="submit" [disabled]="!selectedFile">
                    Upload
                  </button>
                </form>
              </div>
            </div>
          }

          <button
            type="button"
            class="btn btn-danger"
            (click)="remove(shop.id)"
          >
            Supprimer
          </button>

        </div>
      </div>
    }

  </div>
</div>
